* {
    font-family: Outfit, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

#custom-quote {
    padding-top: 3px;
    padding-right: 3px;
    color: #999999;
}